* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header, 
.main, 
.footer {
    display: flex;
}

.header,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links a {
    color: #E5E7EB;
    font-size: 18px;
    padding: 15px;
}

.header-links {
    margin-left: auto;
}

.footer {
    margin-top: auto;
}

.main {
    flex-direction: column;
}

.one,
.two, 
.three, 
.four,
.img-container,
.images,
.one-left,
.four-text {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.one {
    background-color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.two,
.img-container,
.one-left,
.three,
.four-text {
    flex-direction: column;
}

.one-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 10px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    border-radius: 5px;
}

.main-image {
    color: #E5E7EB;
    background-color: gray;
    padding: 50px 75px;
    margin-left: auto;
    flex: 1;
}

.two-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.img {
    border: 2px solid blue;
    border-radius: 15px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}

.images {
    gap: 30px;
}

.img-container {
    width: 100px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    flex-wrap: wrap;
    font-weight: thin;      /* not working */
}

.quote-attribution {
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}

.four {
    margin: 75px auto;
    background-color: #3882F6;
    border-radius: 10px;
}

.four button {
    border: 2px solid white;
    padding: 5px;
}

.four-text {
    align-items: flex-start;
    color: #E5E7EB;
}

.call-to-action {
    font-size: 18px;
    font-weight: bold;
}